* {
  margin: 0;
  color: #8CDD70; <!-- 669955 -->
}

body {
  background-color: #1B002D; <!-- #111c22 -->
}

.header {
  display: block;
  background-color: #334433;
  min-height: 90px; width: 100%;
  align-items: center;
}

.nav {
  background-color:rgba(66,66,58,0.2);
  align-items: center;
}

.table {
  background-color: rgba(20,56,22,0.5);
}

.even {
  background-color: rgba(66,66,58,0.3); <!-- rgba(20,56,22,0.5) на фоне #1B002D = #111c22 -->
}

.odd {
  background-color: rgba(71,66,53,0.3);;
}
.form {
}
