* {
  margin: 0;
  color: #8CDD70; <!-- 669955 -->
}

body {
  background-color: #111c22; <!-- #1B002D -->
}

.header {
  display: block;
  background-color: #334433;
  min-height: 90px; width: 100%;
  align-items: center;
}

.header-content {
    display: block;
    margin: auto;
    max-width: 960px;
    padding: 0%;
}

.nav {
  margin: 5% 0; width: 100%;
  background-color:rgba(66,66,58,0.2);
  align-items: center;
}

.link-list {
  margin: 5% 0; width: 100%;
  background-color:rgba(66,66,58,0.2);
  <!--background-color: rgba(20,56,22,0.5);-->
}

.table {
  width: 100%;
  background-color:rgba(66,66,58,0.2);
  <!--background-color: rgba(20,56,22,0.5);-->
}
.table-content {
  padding-left: 5%; max-width:500px;
}

.even-cells {
  background-color: rgba(66,66,58,0.3); <!-- rgba(20,56,22,0.5) на фоне #1B002D = #111c22 -->
}
.odd-cells {
  background-color: rgba(66,66,50,0.3);
}
.form {
  color: #116644;
  padding-left: 2%;
  margin: 5% 0; width: 100%;
  background-color: rgba(20,56,22,0.5);
}

.footer {
display: block;
align-items: left; min-height: 60;
background-color: #334433;
}
