* {
  margin: 0;
  font-size: 24px;
}

body {
  background-color: #eee6f6;
}

h1 {
  margin: auto;
}

.form-box {
  align-items: center;
  margin: 30px auto 0;
  padding: 30px;
  width: 60%;
  min-width: 600px;
  background-color: #aa99a6;
}

.ordered-row {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 60px;
}

.ordered-row order-1 {
  flex: 1;
  order: 1;
}

.ordered-row order-2 {
  flex: 1;
  order: 2;
}

#item, weight {
  width: 40%;
  min-width: 450px;
  margin: 30px;
}

#calculate { 
  width: 25%; 
  min-width: 300px;
  margin: 30px;
}
