* {
  margin: 0;
  color: #8CDD70;
  font-size: 24px;
}

body {
  background-color: #111c22;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #334433;
  min-height: 90px; width: 100%;
  margin-bottom: 2%;
}

.header-content {
    display: flex;
    margin: auto;
    max-width: 960px;
    padding: 0%;
}

.header-link-list {
  display: -webkit-inline-flex;
  display: inline-flex; 
  float: right;
  font-size: x-large;
  margin: 20px;
  width:400px;
  max-height:100px;
  background-color:rgba(63,81,58,0.5);
  padding:10px;
}

.nav {
  display: flex;
  flex-direction: column;
  
  padding: 1px;

  width: 100%;
  background-color:rgba(66,66,58,0.2);
  
}

.nav-link {
  display: flex;
  flex-direction: column;
  width:20%; 
  background-color:rgba(58,61,58,0.5); 

  margin: auto; 
  margin-top: 20px; 
  margin-bottom: 20px; 

  text-align: center;

  padding:10px;
}

.link-list {
  display: flex;
  max-width: 960px;

  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;

  padding: 2%;
  align-items: center;
  
  background-color:rgba(66,66,58,0.2);
}

.table {
  display: flex;

  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;

  padding-bottom: 2%;
  padding-right: 30%;
  padding-left: 30%;

  background-color:rgba(66,66,58,0.2);
}

td {
  width: 10%;
  text-align: center;
}
.even-cells {
  background-color: rgba(66,66,66,0.3); 
}
.odd-cells {
  background-color: rgba(80,66,50,0.3);
}

.form {
  display: flex;
  color: #116644;
  padding: 2%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 960px;
  background-color: rgba(20,56,22,0.5);
}

input {
  color: black;
}
option {
  color: black;
}
textarea{
  color: black;
}

.footer {
display: flex;
align-items: left; 
min-height: 60px;
padding-left: 20px;
margin-top: 2%;
background-color: #334433;
}
