* {
  margin: 0;
  color: #8CDD70;
  font-size: 24px;
}

body {
  background-color: #111c22;
}

#header {
  display: flex;
  flex-direction: row;
  background-color: #334433;
  min-height: 90px; 
  width: auto;
  margin-bottom: 60px;
}

#header aside {
  flex: 1;
  order: 1;
  align-items: right;
}

#header main {
  flex: 1;
  order: 2;
  align-text: center;
}

#header links {
  flex: 1;
  order: 3;
  align-text: left;
}

.header-link-list {
  margin: 20px;
  background-color:rgba(63,81,58,0.5);
}

.nav {
  display: flex;
  flex-direction: column;

  width: 100vw;
  background-color:rgba(66,66,58,0.2);
  
}

.nav, nav-link, link-list, form, footer {
  padding: 10px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  
  width:20%; 
  margin: 30px auto 20px; 
  text-align: center;

  background-color:rgba(58,61,58,0.5); 
}

.link-list {
  display: flex;
  
  max-width: 960px;
  margin: 30px auto 30px;
  align-items: center;
  
  background-color:rgba(66,66,58,0.2);
}

.table {
  display: flex;

  margin: 30px auto 30px;
  padding: 0 30% 30px;

  background-color:rgba(66,66,58,0.2);
}

td {
  width: 10%;
  text-align: center;
}
.even-cells { background-color: rgba(66,66,66,0.3); }
.odd-cells { background-color: rgba(80,66,50,0.3); }

.form {
  display: flex;
  color: #116644;
  margin: 30px auto 30px;
  max-width: 960px;
  background-color: rgba(20,56,22,0.5);
}

input, option, textarea { color: black; }

.footer {
display: flex;
align-items: left; 
min-height: 60px;
margin-top: 30px;
background-color: #334433;
}

@media only screen and (max-width: 600px) {

.header {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}


.links {
  font-size: medium;
  display: inline;
}
    
.nav {
  display: inline;
  float: right;
  font-size: x-large;
}
  
}
