* {
  margin: 0;
  font-size: 24px;
}

body {
  background-color: #eee6f6;
}

.form-box {
  align-items: center;
  margin: 30px auto;
  padding: 30px;
  width: 60%;
  min-width: 600px;
  background-color: #aa99a6;
}

#item, weight {
  width: 40%;
  min-width: 450px;
}

#calculate { 
  width: 25%; min-width: 300px; 
}
