body {
    background-color: #446655;
    padding: 20px;
    text-align: center;
}

#popup {
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 60%;
    background-color: #99ccaa;
}

