body {
    background-color: #446655;
    padding: 20px;
}
.slider {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.slider-img img {
    width: 400px;
    height: 400px;
    margin: auto;
}

.slick-prev:before, .slick-next:before{
    color:red;
}
